<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663681207213-7b41hkb4mg35k38iv5gpnp0h77e2otqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663681207213-7b41hkb4mg35k38iv5gpnp0h77e2otqh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>663681207213-28ao3v2a64aenqlqq42hjog5svh9lpr9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAD520a-mYzWFh5WohpfH22DCTsdjEa0ho</string>
	<key>GCM_SENDER_ID</key>
	<string>663681207213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blueapp.blue</string>
	<key>PROJECT_ID</key>
	<string>blueapp-957f8</string>
	<key>STORAGE_BUCKET</key>
	<string>blueapp-957f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663681207213:ios:6acb73011ca792b3f4ef24</string>
</dict>
</plist>